/*
 * =================================================
 * 
 *  You can override here the aspect of DITA elements 
 *  (for PDF).
 * 
 * =================================================
 */
@media print {
/**/
}
