@charset "UTF-8";

/* Title in the TOC page */
toc-title[empty]:lang(de):before { 
	content: "Inhaltsverzeichnis"; 
}

/* This string is used in the TOC page header. */
:root:lang(de) {
    string-set: toc-header "Inhaltsverzeichnis";
}

/* Title in the Index page */
index\.groups:lang(de):before {
	content: "Stichwortverzeichnis";
}

/* Titles in the TOC. */
*[class ~= "map/topicref"][is-part] > *[class ~= "map/topicmeta"] > *[class ~= "topic/navtitle"]:lang(de):before{
   content:"Teil " counter(toc-part, upper-roman) ". " !important;
}
*[class ~= "map/topicref"][is-chapter]:not([is-part]) > *[class ~= "map/topicmeta"] > *[class ~= "topic/navtitle"]:lang(de):before{
   content:"Kapitel " counter(toc-chapter) ". " !important;
}

/* Titles in the content. */
*[class ~= "topic/topic"][is-part] > *[class ~= "topic/title"]:lang(de):before {
    content: "Teil " counter(part, upper-roman) ". ";
}
*[class ~= "topic/topic"][is-chapter]:not([is-part]) > *[class ~= "topic/title"]:lang(de):before {
    content: "Kapitel " counter(chapter) ". ";
}
