/*
 * ======================================================
 * 
 * Table of Contents.
 * 
 * ======================================================
 */


@media print {



/*
	Associates the opentopic:map to the TOC page.
*/
*[class ~= "map/map"] > map {
    display: block;
    page: table-of-contents;
}

/* TODO The opentopic-placeholder:toc should be treated in XSLT, by moving the TOC to the indicated position.*/
toc {
	display:none;
}

/*      
     One can use the oxy:toc-title title element to give a title to the TOC.
     If is marked as empty, use the static text: "Contents"         
 */
toc-title {
    display: block;
    font-size: 3em;
    margin-bottom: 1em;
}
toc-title[empty]:before {
	/* p-i18n.css */
}


/* 
    The bookmap title migrates into the opentopic:map element. Since it is already on the 
    front page, it should be hidden. 
*/
*[class ~= "map/map"] > map > *[class ~= "topic/title"] {
    display: none;
}

*[class ~= "map/topicref"] {
    display: block;
}
*[class ~= "map/topicref"] *[class ~= "map/topicref"] {
    margin-left: 2em;
}

/* 
   The chapters from the opentopic:map are bolded and larger, and 
   also the ones that are direct children of parts. 
 */
*[class ~= "map/topicref"][is-chapter] {
    font-weight: bold;
}
*[class ~= "map/topicref"][is-chapter]:not([is-part]) > *[class ~= "map/topicref"]:not(is-chapter) {
    font-weight: normal;
}

/* Hide sections below level 3. */
*[class ~= "map/topicref"][is-chapter] > 
    *[class ~= "map/topicref"]:not([is-chapter]) > 
    *[class ~= "map/topicref"] > 
    *[class ~= "map/topicref"] {

    display: none;
}


/* 
 * TOC entries
 */

/* Remove the styling inherited from the editing stylesheets */
*[class ~= "map/topicref"] *[class ~= "topic/navtitle"] {
    font-weight: inherit;
}
*[class ~= "map/topicref"] *[class ~= "topic/navtitle"]:before {
    content:none;
}

/* Ignore displaying other metadata elements, except the navtitle*/
*[class ~= "map/topicmeta"] > *:not([class ~= "topic/navtitle"]) {
    display: none;
}

/* Link on the topic title */
*[class ~= "map/topicref"] *[class ~= "topic/navtitle"] {
    link: attr(href);
    -ah-link: attr(href);
    -oxy-link: attr(href);
}

/* A dotted line between the topic name and the page number. */
*[class ~= "map/topicref"] *[class ~= "topic/navtitle"]:after {
    content: leader('.') target-counter(attr(href), page);
}

}