/**
 * Shows the table column specifications.
 */

@media oxygen {
    *[class ~= "topic/colspec"] {
        display: block !important;
    }

    *[class ~= "topic/tgroup"]:before {
        display: none !important;
    }
}
