@import "dita.css";
@import "alternate-table-hide-colspec.css";

@namespace oxy "http://www.oxygenxml.com/extensions/author";

/*
===========================================
    DITA CSS for author preview area. 
   (the Insert Content Reference dialog for instance)
===========================================
*/

oxy|reference:before,
oxy|entity:before {
  display: none !important;
  background-color: inherit !important;
}

oxy|reference,
oxy|entity {
    background-color: inherit !important;
}

/* 
  The root is always a <dita> element.
  
  Remove the padding and margins from the top level element.
  
*/
:root,
:root > *:first-child {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

/* 
  
  Remove the top padding of the main title element. 
  
*/
:root > *:first-child > *[class ~= "topic/title"] {
  margin-top: 0;
}

/* 
  Remove the list style from list items.
*/
dita > *[class~="topic/li"] {
    display: block;
}
