:root {
  line-height:1.15;
  font-size:1.16em;

  padding-left: 60px;
  padding-right: 60px;
}

*[class~="topic/title"] {
  font-family: serif;
}

*[class~='topic/pre'] {
  line-height:1;
}

*[class~='topic/ul'] {
  line-height:1.2;
}

