@import "dita.css";


@namespace oxy "http://www.oxygenxml.com/extensions/author";

oxy|comment {
 display:none !important;
}


*[class ~= "topic/topic"]{
  font-family: Calibri, serif;
  background-color:white;
}


*[class ~= "topic/topic"] > *[class ~= "topic/title"]{
  font-family:"Trebuchet MS", sansserif;
  margin-bottom:1em;
  margin-top:1em;
}


@media oxygen AND (min-width:25cm){

    oxy|document {
      background-color:#fbfbfb;
    }
    
    *[class ~= "topic/topic"]{
      border: 1px solid #c6c6c6;
      
      margin-left: auto;
      margin-right: auto;
      width: 21.59cm; 
      min-height:27.94cm;
      
      padding-top:1em;
      padding-right:1em;
      padding-left:2em;
      padding-bottom:10em;      
    }
    
    *[class ~= "topic/topic"] *[class ~= "topic/topic"]{
      min-height:0;  
      padding-bottom: 1em;
    }
}


    
*[class ~= "topic/body"]{
  margin-left:2em;
  margin-bottom:2em;
  margin-top:1em;
  margin-right:1em;
}


