/*
 * =====================================================
 * 
 * Page size, margins, borders, etc..
 * 
 * =====================================================
 */

@page {
    padding-top:0.2em;
    padding-bottom:0.2em;
    size: 8.27in 11.69in;
    margin: 0.5in 0.5in 0.5in 1.5in;
}