
@import "-topic-basic.css";
@import "-topic-body.css";
@import "-topic-body-lists.css";
@import "-topic-table.css";
@import "-topic-table-simpletable.css";
@import "-topic-metadata-prolog.css";
@import "-topic-metadata-indexterm.css";
@import "-topic-related-links-xref.css";
@import "-topic-specialization.css";
@import "-topic-legacy-conversion.css";



/* TODO - dan - de vazut unde intra.. */
/* == special content and exhibits == */
/*
  The specialized title attribute allows
  architects of specialized types to define
  a fixed or default title for a specialized
  element. Not intended for direct use by authors.
 */
*[spectitle]:before {
    display: block;
    font-weight: bold;
    content: attr(spectitle)": ";
}

/* == specially highlighted elements == */





